[package]
name = "scryfall"
version = "0.9.0"
authors = ["Mendess2526 <pedro.mendes.26@gmail.com>"]
edition = "2018"
description = "A wrapper around the scryfall magic the gathering api"
license = "MIT"
repository = "https://github.com/mendess/scryfall-rs"
readme = "README.md"
keywords = ["mtg", "Magic", "API", "Scryfall"]
categories = ["api-bindings", "games"]

[features]
default = ["bulk_caching"]
bulk_caching = ["heck"]

[dependencies]
cfg-if = "1.0.0"
chrono = { version = "0.4.19", features = ["serde"] }
heck = { version = "0.3.2", optional = true }
httpstatus = "0.1.2"
itertools = "0.10.0"
once_cell = "1.5.2"
percent-encoding = "2.1.0"
serde = { version = "1.0.123", features = ["derive"] }
serde_json = "1.0.62"
serde_urlencoded = "0.7.0"
thiserror = "1.0.23"
tinyvec = "1.1.1"
ureq = "2.0.1"
url = { version = "2.2.0", features = ["serde"] }
uuid = { version = "0.8.2", features = ["serde"] }
static_assertions = "1"

[dev-dependencies]
clap = "3.0.0-beta.2"
rayon = "1.5.0"
strum = { version = "0.20.0", features = ["derive"] }
