[package]
name = "scryfall"
version = "0.11.1"
authors = ["Mendess2526 <pedro.mendes.26@gmail.com>"]
edition = "2018"
description = "A wrapper around the scryfall magic the gathering api"
license = "MIT"
repository = "https://github.com/mendess/scryfall-rs"
readme = "README.md"
keywords = ["mtg", "Magic", "API", "Scryfall"]
categories = ["api-bindings", "games"]

[features]
default = ["bulk_caching"]
bulk_caching = ["heck"]

[dependencies]
cfg-if = "1"
chrono = { version = "0.4", features = ["serde"] }
heck = { version = "0.4", optional = true }
httpstatus = "0.1"
itertools = "0.10"
once_cell = "1"
percent-encoding = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_urlencoded = "0.7"
thiserror = "1"
tinyvec = "1"
url = { version = "2", features = ["serde"] }
uuid = { version = "1", features = ["serde"] }
static_assertions = "1"
reqwest = {version = "0.11.13", features = ["json" ,"blocking"] }
futures = "0.3.25"
async-recursion = "1.0.0"
async-trait = "0.1.59"

[dev-dependencies]
strum = { version = "0.24", features = ["derive"] }
tokio = {version = "1", features = ["full"]}
tokio-test = "0.4.2"
