[package]
name = "scryfall"
version = "0.8.0"
authors = ["Mendess2526 <pedro.mendes.26@gmail.com>"]
edition = "2018"
description = "A wrapper around the scryfall magic the gathering api"
license = "MIT"
repository = "https://github.com/mendess/scryfall-rs"
readme = "README.md"
keywords = ["mtg", "Magic", "API", "Scryfall"]
categories = ["api-bindings", "games"]

[dependencies]
chrono = { version = "0.4.19", features = ["serde"] }
itertools = "0.10.0"
once_cell = "1.5.2"
percent-encoding = "2.1.0"
serde = { version = "1.0.123", features = ["derive"] }
serde_json = "1.0.62"
serde_urlencoded = "0.7.0"
thiserror = "1.0.23"
tinyvec = "1.1.1"
ureq = "2.0.1"
url = { version = "2.2.0", features = ["serde"] }
uuid = { version = "0.8.2", features = ["serde"] }

[dev-dependencies]
rayon = "1.5.0"
